<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Lottery</title>
</head>
<body>
    <form method="GET">
        <h1>Put in a minimum and maximum value</h1>
        <label for="minValue">
            Minimum Value
            <input required type="number" name ='minValue' id="minValue">
        </label>
        <label for="maxValue">
            Maximum Value
            <input required type="number" name='maxValue' id='maxValue'>
        </label>
        <button type="submit">Draw</button>
    </form>
    <!-- <div>
        <p>Random Number: </p>
    </div> -->
</body>
</html>